# Supabase
SUPABASE_URL=https://glmspbtuxdkeicrronvd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsbXNwYnR1eGRrZWljcnJvbnZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDYzNTU0NywiZXhwIjoyMTAwMjExNTQ3fQ.ubqaDb8gTbJZCjVidISlNQuHf9nCYBh2wN0aA2U2vQM

# Groq (get free key at https://console.groq.com)
GROQ_API_KEY=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

# Server
PORT=8000
